nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #8BC34A; /* Couleur verte claire */
    color: #FFFFFF; /* Couleur blanche */
}

nav a {
    color: #FFFFFF; /* Couleur blanche */
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
}

nav h1 {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}

nav .links {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

nav .links a {
    margin-top: 10px;
}

p {
    color: blue;
}