<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site developpement personnel</title>
</head>
<body>




<a href="{% url 'homepage' %}">
    <h1>Bonjour, bienvenue sur mon site</h1>
</a>

{% if user.is_authenticated %} <!-- si l'utilisateur est connecté -->
    {{ user.username }}
<a href="{% url 'logout' %}">Déconnexion</a>
{% else %}
<a href="{% url 'login' %}">Connexion</a>
<a href="{% url 'signup' %}">S'inscrire</a>

{% endif %}

{% block content %}
{% endblock %}
</body>
</html>